body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.site-title {
  font-family: 'Anton', sans-serif; /* Use a fonte Anton ou outra de sua escolha */
  font-size: 6em; /* Tamanho da fonte */
  letter-spacing: 10px; /* Espaçamento entre as letras */
  margin: 0; /* Remova a margem padrão do h1 */
}

.about, .team {
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Detalhes em verde */
a, a:visited, a:hover, a:active {
  color: #4CAF50;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.button:hover {
  background-color: #45a049;
}

.team {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.team-member.center img.center-image {
max-width: 35%;
border-radius: 50%;
margin-bottom: 2px;
}

.team-member.center p {
margin: 0;
font-weight: bold;
color: #333;
}

.team-row {
display: flex;
justify-content: center;
}

.team-member {
text-align: center;
margin: 2px;
}

.team-member img{
max-width: 100% !important;
border-radius: 50% !important;
margin-bottom: 5px !important;
}
.about-image img {
  max-width: 100% !important;
  border-radius: 50% !important;
  margin-bottom: 5px !important;
  margin-left: 20%;
}


.team-member p {
margin: 0;
font-weight: bold;
color: #333;
}

.about {
  text-align: justify;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  margin-left: 9%;
  margin-right: 10%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  margin-right: 30px;
}

.about-content h2 {
  color: #333;
}

.about-content p {
  line-height: 1.6;
  color: #555;
  font-size: 16px;
  margin-bottom: 10px;
}

.about-image {
  width: 30%; /
}

.about-image img {
  max-width: 100%;
  border-radius: 8px;
}

.footer {
  background-color:#45a049;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 15px 0;
  background: url("../img/banner.png") top center;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;
  display: flex;
margin-left: 15%; /* Alinha os botões à direita */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  border-radius: 20px; /* Borda mais arredondada */
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #45a049;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 60vh;
  background-size: cover;
  position: relative;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
